
body {
    padding-top: 110px;
}

#hero { height: 70vh; 
        background: linear-gradient( 
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3) ),

            url('../images/hero-bg.jpg') center/cover no-repeat; 
            color: white; 
            padding: 40px;}

#about { 
    background-color: #f7f7f7; 
    padding: 60px 0; 
}


#symptoms {
    background-color: #ffffff;
}

#symptoms .shadow-sm {
    transition: transform 0.2s ease;
}

#symptoms .shadow-sm:hover {
    transform: translateY(-5px);
}
