
body , section {
    padding-top: 120px;
    background-color: #102929

}

#hero {
    background-image: url("assets/images/hero-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 120px 0; 
}

            

#about { 
    background-color: #f7f7f7; 
    padding: 60px 0; 
}


#symptoms {
    background-color: #ffffff;
}

#symptoms .shadow-sm {
    transition: transform 0.2s ease;
}

#symptoms .shadow-sm:hover {
    transform: translateY(-5px);
}


#support {
    background-color: #f7f7f7;
}

#support .btn-primary {
    background-color:  #102925;
    border: none;
}

#support .btn-primary:hover {
    background-color: #102925;
}


#hero {
    background-image: url("../images/hero-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 120px 0; /
}

#hero h1 {
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

#tips {
    color: white;
}

.section-divider {
    height: 4px; 
    background-color: #e0f7f7; 
    width: 100%;
    margin: 40px 0; 
    border-radius: 2px; 
}

